spring:

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/Conflict_Tracker_api
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: true

  sql:
    init:
      mode: never
      encoding: UTF-8