spring:
  application:
    name: Conflict_Tracker_api_Tadeuos-San-Baudelio_y_Justin-Alvarez

  profiles:
    active: dev

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

